.button {
  padding: 10px;
  border: none;
  border-radius: var(--rounded);
  background: var(--off-white);
  color: var(--dark-gray);
  transition: background var(--fast), color var(--fast);
}

.button:hover {
  background: var(--primary);
  color: var(--white);
}
