.group {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 10px 20px;
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--shadow);
}

.group legend {
  position: absolute;
  bottom: calc(100% + 10px);
  color: var(--mid-gray);
}
