.input {
  padding: 10px 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.input::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 999px;
  background: var(--off-white);
  transition: background var(--fast);
}

.input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  margin-top: -5px;
  background: var(--gray);
  border-radius: 999px;
  -webkit-appearance: none;
  appearance: none;
  transition: background var(--fast);
}

.input::-moz-range-track {
  height: 5px;
  border-radius: 999px;
  background: var(--off-white);
  transition: background var(--fast);
}

.input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 999px;
  background: var(--gray);
  transition: background var(--fast);
}

.input:hover::-webkit-slider-runnable-track {
  background: var(--primary);
}

.input:hover::-moz-range-track {
  background: var(--primary);
}

.input:hover.input::-moz-range-track {
  background: var(--dark-gray);
}

.input:hover::-webkit-slider-thumb {
  background: var(--dark-gray);
}

.value {
  height: 30px;
  border: none;
  border-radius: var(--rounded);
}
