.pianoRoll {
  width: 100%;
  height: 75vh;
  background: var(--white);
  box-shadow: var(--shadow);
}

.pitchBlack {
  fill: var(--off-white);
  clip-path: url(#shape);
}

.pitchWhite {
  fill: var(--white);
  clip-path: url(#shape);
}

.beatMajor {
  stroke: var(--dark-gray);
}

.beatMinor {
  stroke: var(--gray);
}

.beatSub {
  stroke: var(--light-gray);
}

.humanizedNotes {
  fill: var(--primary);
  stroke: var(--secondary);
}

.originalNotes {
  fill: none;
  stroke: black;
}

.velocity {
  fill: none;
  stroke: var(--primary);
  stroke-width: 3;
}

.border {
  fill: none;
  stroke: black;
}

.velocityBg {
  fill: var(--white);
}

.drift {
  fill: var(--primary);
  opacity: 0.5;
}
