:root {
  --primary: #2196f3;
  --secondary: #1976d2;

  --white: white;
  --off-white: #eceff1;
  --light-gray: #cfd8dc;
  --gray: #90a4ae;
  --dark-gray: #263238;
  --black: #000000;

  --shadow: 0 0 10px #0002;
  --rounded: 5px;
  --fast: 0.25s ease;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  font-size: 14pt;
  background: var(--white);
}

#root {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 40px;
  padding: 40px;
  text-align: center;
}

header {
  padding-bottom: 0;
}

footer {
  padding-top: 0;
}

h1 {
  display: inline-block;
  margin: 0;
  font: inherit;
  font-size: 2rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  width: 100%;
}

button,
input,
select {
  font: inherit;
  cursor: pointer;
}

a {
  color: var(--primary);
  transition: color var(--fast);
}

a:hover {
  color: var(--dark-gray);
}

.control {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.control-label {
  min-width: 80px;
  padding-left: 10px;
}

.control-primary {
  flex-grow: 1;
  width: 0;
  margin: 0;
}

.control-secondary {
  width: 60px;
}

.tippy-box {
  padding: 10px 15px;
  border-radius: var(--rounded);
  background: var(--dark-gray);
  font-size: 1rem;
  box-shadow: 0 0 10px var(--off-black);
}

.tippy-content {
  padding: 0;
}

.tippy-arrow {
  color: var(--dark-gray);
  z-index: 99;
}
